# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/binaries/SoccerTool_l32
/binaries/SoccerTool_l64
/binaries/SoccerTool_64
/source/spielplan/plan_eingabe_l64
/source/spielplan/spielplan_eingeben-l64
/source/spielplan/spielplan_eingeben_l64
/source/SoccerTool/SoccerTool_64

# Debug files
*.dSYM/

#Spielpläne
*.soc
